///
/// = Base =
///

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
}

body {
	color: $plain-text;
	font-family: $body-font-stack;
	font-size: $body-font-size;
	line-height: $body-line-height;
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;

	&[data-sizes="auto"] {
		display: block;
		width: 100%;
	}
}

::selection {
	background: $border;
}

section {
	align-items: center;
    background: lighten($motion-blue, 40%);
	display: flex;
    flex-direction: column;
	justify-content: center;
	margin: 0;

	&.-double {
		min-height: 150vh;
	}

	&.-triple {
		min-height: 300vh;
	}
}

.sub-container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 150vh;

    .motionText {
        &__wrapper {
            font-family: $fat-font-stack;
            font-size: 5vw;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
h1 {
	font-family: "dm";
	font-style: italic;
	font-weight: 600;
	display: flex;
	justify-content: center;
	padding: 1rem;
}
h3.subtitle {
	font-family: "dm";
	font-style: italic;
	font-weight: 400;
	position: sticky;
	top: 0;
	display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: center;
	padding: 2rem;
    color: $motion-blue;
    z-index: 900;

    &::after {
        background: $motion-dark;
        content:'';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        z-index: -1;
    }

    span {
        font-size: 1rem;
        display: block;
        font-weight: 300;
        margin: 20px 0 0;
    }
}

.box__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.box {

	height: 300px;
	width: 300px;
	background: $motion-blue;
    border: 10px solid $motion-blue;
    overflow: hidden;

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

.logo {
    background: $motion-dark;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px;
    svg {
        max-width: 400px;
    }
}

.backToTop {
    background: $motion-dark;
    box-shadow: $high-shadow;
    position: fixed;
    right: 0;
    bottom: 5vh;
    z-index: 950;

    a {
        color: $motion-blue;
        display: block;
        text-decoration: none;
        height: 60px;
        width: 60px;
        padding: 1rem;
        position: relative;

        &:hover {
            color: #FFF;

            &::before {
                color: $motion-dark;
                top: calc(100% + 10px);
                opacity: 1;
            }
        }

        &::before {
            content: 'TOP';
            letter-spacing: 2px;
            font-family: 'dm';
            font-size: 0.8rem;
            font-weight: 700;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all 300ms ease-in-out;
            width: 100%;
            text-align: center;
        }

        svg {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
}

.linkBox {
    background: $motion-blue;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2,
    a {
        color: $motion-dark;
    }

    h2 {
        margin: 0 0 45px;
        padding: 1rem;
        border: 1px solid currentColor;
    }

    &__links {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        place-content: center;
        place-items: center;
        width: 100%;

        a {
            transition: background 300ms ease-in-out;
            background-image: linear-gradient($motion-dark, $motion-dark);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            display: inline-flex;

            &:hover {
                background-size: 100% 2px;
            }
        }
    }

}

.intro {
    padding: 0 0 4rem;
    border-bottom: 1px dashed $motion-dark;
    margin: 0 0 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
        color: $motion-blue;
        padding: 8px;
        position: relative;
        z-index: 1;



        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $motion-dark;
            z-index: -2;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $white;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease-in-out;
        }

        &:hover,
        &:focus {
            &::after {
                transform: scaleX(1);
                transform-origin: right;
                transition: transform 300ms ease-in-out;
            }
        }
    }

    p {
        margin: 1rem 0 0;
        font-style: italic;
        font-size: 1.3rem;
        line-height: 2;

        strong {
            font-weight: 900;
        }
    }
}

.transitions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0;
    border-top: 1px dashed $motion-dark;
    margin: 3rem 0 0;
}